<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>814832995516-dvt3l71q76c9ojmje2gua6rbro4p34c8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.814832995516-dvt3l71q76c9ojmje2gua6rbro4p34c8</string>
	<key>API_KEY</key>
	<string>AIzaSyC6Zb1lAcDRIXVg86wgp4LXMCTxAYg9GFE</string>
	<key>GCM_SENDER_ID</key>
	<string>814832995516</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.steenbakker.qr</string>
	<key>PROJECT_ID</key>
	<string>packagevision-5a71a</string>
	<key>STORAGE_BUCKET</key>
	<string>packagevision-5a71a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:814832995516:ios:775b698fc32f6af3b394b9</string>
</dict>
</plist>